<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>First page</title>
    <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyKR7ujBwVbJ6bOvSqh8qRTMFBXMgfpTw&callback=myMap"></script>
</head>
<body>
    <div id="map" style="width:100%;height:450px"></div> 

    <p id="errors"></p>

    <button id="id_postjson" class="bar">
        POST JSON >>
    </button>

    <button id="id_getjson" class="bar">
        Send JSON >>
    </button>

    

    <script src="static/scripts/FirstPage.js"></script>
</body>
</html>